body{
background-color: rgb(255, 0, 64);

color: white



}

header{
background-color: rgb(189, 0, 41);
height: 35px;
windth: 100%;
margin-left: -20px;
margin-right: -20px;


}

header h3{
padding-left: 15px;
color:rgb(245, 243, 247);
text-align: center;
font-size: 30px;

}